<a href="https://colab.research.google.com/github/tjeshwanth/publicapi/blob/master/dummy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
!pip install pyspark
!pip install install-jdk
!pip install findspark
# import findspark
# findspark.init()
import pyspark
from pyspark.sql import SparkSession

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [67]:
spark = SparkSession.builder.getOrCreate()
    # .appName("Python Spark SQL basic example") \
    # .config("spark.some.config.option", "some-value") \

In [ ]:
# df = spark.read.option('header',True).csv('/Country.csv')
# # df.show()
# # df.

# # Create RDD from parallelize    
# dataList = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]
# # rdd=spark.sparkContext.parallelize(dataList)
# # d= spark.sparkContext.parallelize('/Country.csv')
# d=spark.sparkContext.parallelize(dataList)

# print(type(df))
# print(type(d))

# dir(pyspark.rdd)
# dir(pyspark.sql)
# dir(pyspark.sql.dataframe)
# data = [('James','','Smith','1991-04-01','M',3000),
#   ('Michael','Rose','','2000-05-19','M',4000),
#   ('Robert','','Williams','1978-09-05','M',4000),
#   ('Maria','Anne','Jones','1967-12-01','F',4000),
#   ('Jen','Mary','Brown','1980-02-17','F',-1)
# ]

# columns = ["firstname","middlename","lastname","dob","gender","salary"]
# df1 = spark.createDataFrame(data=data, schema = columns)
# print(type(df1))
# df1.printSchema()
# df.printSchema()

In [109]:

from pyspark.sql.types import StructType,StructField 
from pyspark.sql.types import StringType, IntegerType, ArrayType
data = [
    (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"CA","M")
 ]
        
schema = StructType([
     StructField('name', StructType([
        StructField('firstname', StringType(), True),
        StructField('middlename', StringType(), True),
         StructField('lastname', StringType(), True)
     ])),
     StructField('languages', ArrayType(StringType()), True),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True)
 ])

df = spark.createDataFrame(data = data, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+----------------------+------------------+-----+------+
|name                  |languages         |state|gender|
+----------------------+------------------+-----+------+
|{James, , Smith}      |[Java, Scala, C++]|OH   |M     |
|{Anna, Rose, }        |[Spark, Java, C++]|NY   |F     |
|{Julia, , Williams}   |[CSharp, VB]      |OH   |F     |
|{Maria, Anne, Jones}  |[CSharp, VB]      |NY   |M     |
|{Jen, Mary, Brown}    |[CSharp, VB]      |NY   |M     |
|{Mike, Mary, Williams}|[Python, VB]      |CA   |M     |
+----------------------+------------------+-----+------+

In [ ]:

# Using equals condition
df.filter(df.state == "OH").show(truncate=False)

# not equals condition
df.filter(df.state != "OH") \
    .show(truncate=False) 
df.filter(~(df.state == "OH")) \
    .show(truncate=False)

In [ ]:

# Using startswith
df.filter(df.state.startswith("N")).show()


#using endswith
df.filter(df.state.endswith("H")).show()

#contains
df.filter(df.state.contains("H")).show()
li=["OH","CA","DE"]
df.filter(df.state.isin(li)).show()
df.filter(~df.state.isin(li)).show()
df.filter(df.state.isin(li)==False).show()

In [117]:
data2 = [(2,"Michael Rose"),(3,"Robert Williams"),
     (4,"Rames Rose"),(5,"Rames rose")
  ]
df2 = spark.createDataFrame(data = data2, schema = ["id","name"])

# like - SQL LIKE pattern
# df2.filter(df2.name.like("%rose%")).show()
# df2.filter(df2.name.rlike("(?i)^*rose$")).show()



from pyspark.sql.functions import *
frame =  spark.createDataFrame(data = data, schema = schema)

# dum =  frame.filter(array_contains(frame.languages,'Java'))
# dum.show()
# dum.filter(frame.gender=='M').show()

frame = df.filter(array_contains(df.languages,'Java'))
# dum = frame.filter(df.gender=='M')
dum = frame.filter(df.gender=='M') == frame.filter(frame.gender=='M')
frame.show()
print(end='\n'*5)
# dum.show()

+----------------+------------------+-----+------+
|            name|         languages|state|gender|
+----------------+------------------+-----+------+
|{James, , Smith}|[Java, Scala, C++]|   OH|     M|
|  {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
+----------------+------------------+-----+------+






+----------------+------------------+-----+------+
|            name|         languages|state|gender|
+----------------+------------------+-----+------+
|{James, , Smith}|[Java, Scala, C++]|   OH|     M|
+----------------+------------------+-----+------+